/* Var ---------------------------------*/
:root{
    --col-main: #ECF0F1;
    --col-content: #fff;
    --col-img-content: #CCCCCC;
    --col-font-content: #A1B1BC;
    --col-footer: #2C3E50;
    --col-bc-blockquote: #21C2F8;
}

/* Class -------------------------------*/
.siz-container{
    width: 100%;
    max-width: 1170px;
    margin: auto;
}

.siz-content{   width: 31.62%;  }

.d-flex{    display: flex;  }

.wrap{  flex-wrap: wrap;}

.jc-between{    justify-content: space-between; }

/* Main ___________________________________________________________________________________________________*/
main{
    background-color: var(--col-main);
    padding-top: 6.3125rem;
}

main iframe{    border: none;   }

.button-read-more{
    color: var(--col-content);
    background-color: var(--col-footer);
    border-radius: 3px;
    border: none;
    width: 32.43%;
    height: 2.5rem;
    padding: 0;
    margin-bottom: 2rem;
}

.content-image{
    height: 15.625rem;
    background-color: var(--col-img-content);
}

main a{
    text-decoration: none;
    color: var(--col-font-content);
}

main > div > div > div{
    border: solid 1px var(--col-main);
    background-color: var(--col-content);
    margin-bottom: 1.875rem;

}

main > div > div > div > div{
    box-sizing: border-box;
    padding: 20px 20px 0;
    border-bottom: solid 1px var(--col-main);
    margin-bottom: .625rem;
}

main p{
    font-size: .875rem;
    color: var(--col-font-content);
    line-height: 1.5rem;
}

main > div > div > div > div h4{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

main > div > div > div > div > p{
    padding-bottom: 1.68rem;
}

main > div > div > div > div > div:last-of-type{
    margin-top: 0;
}

.separate{
    border: solid 1px var(--col-main);
    margin-left: 1rem;
    margin-right: 1rem;
}

.content-border-bottom{
    border-bottom: solid 1px var(--col-main);
}

/* Blockquote ----------------------------------*/
main blockquote{
    width: 100%;
    height: 15.625rem;
    background-color: var(--col-bc-blockquote);
    margin: 0;
    overflow: hidden;
}

main blockquote p{
    
    width: 85.5%;
    font-size: 1.875rem;
    line-height: 3.125rem;
    padding: .75rem 0 0 1.15625rem;
    color: var(--col-content);
    margin: 0;
}

main blockquote div{
    box-sizing: border-box;
    height: 90%;
    
    overflow: hidden;
}

main blockquote div > a{
    align-self: end;
    color: var(--col-content);
    margin-bottom: 1rem;
    font-size: 1.875rem;
}

main blockquote footer{
    border-top: solid 1px var(--col-content);
    padding: 0 0 0 1.15625rem;
    color: var(--col-content);
}

/* Fin Blockquote -----------------------*/
/* Slideshow ----------------------------*/
#container-slideshow1{
    position: relative;
    overflow: hidden;
    height: 219px;
    width: 100%;
}

#slideshow1{
    position: absolute;
    width: 200%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    transition: 1s;
}

#slideshow1 li{
    display: inline;
}

#container-slideshow:target #slideshow{
    left: -100%;
}
/* Fin Slideshow -------------------------*/